@page
@model WebAppRazorPages.Pages.Categories.CreateModel
@{
    ViewData["Title"] = "Add Category";
}

<div class="Container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="h2 text-primary">Add New Category</div>
            <form method="post">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="form-group mb-4">
                            <label class="form-label" asp-for="Category.Name">Category Name</label>
                            <input asp-for="@Model.Category.Name" class="form-control" />
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label" asp-for="Category.DisplayOrder">Display Order</label>
                            <input asp-for="@Model.Category.DisplayOrder" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-outline-success">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>